@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');

body {
    background-color: #A91079;
    font-family: 'Nunito', sans-serif;
    margin: 0 440px;
    padding-top: 12vh;
  }
  .container {
    background-color: #A91079;
    color:black;
    display: flex;
    gap: 46px;
  }
  #posts {
    width: 140px;
  
  }
  .right > h3{
  margin-bottom: 4px;
  }

  #posts div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  div > p{
    margin-top: 9px;
  }

  div
  .options {
    display: flex;
    gap: 25px;
  }

  i {
    cursor: pointer;
  }
  